@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Ubuntu:wght@300&display=swap');
body {
    font-family: 'Quicksand', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

/* Hide scrollbar, but allow scrolling */
::-webkit-scrollbar {
    width: 0.5em; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    border-radius: 10px; /* Rounded edges for the track */
    background: #f1f1f1; /* Background color of the track */
}

::-webkit-scrollbar-thumb {
    border-radius: 10px; /* Rounded edges for the thumb */
    background: #888; /* Color of the scrollbar thumb */
}

.icon-colored {
    color: #3658a1b0; /* Change to your desired color */
}

.carousel-item{
    font-weight: bold;
}

.c-text{
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
}

.home-section {
    position: relative;
    background-image: url('../assets/background_image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

h3{
    margin-top: 20px;
}

.list-inline-item{
    margin-left: 5px;
}

.service-row, .contact-us, .about-us, .pricing, .pricing-row {
    border-radius: 20px;
}

@media (max-width: 768px) {
    .content-about-us{
        margin-top: 20px;
    }
    .about-image-div{
        display: flex;
        justify-content: center;
    }
    .about-img{
        max-width: 300px;
    }
}

/* Style for the overlay with opacity */
.home-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Adjust the opacity (0.5) as needed */
}

/* Style for the content within the home section */
.home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1; /* Ensure content is above the overlay */
}

/* Style for the service cards */
.service-card {
    border: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

html{
    scroll-behavior: smooth;
}

.navbar-brand,.nav-link {
    font-weight: bold;
}

.copyright {
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: small;
    padding: 10px 0;
}

.fade-in {
    opacity: 0;  /* Start with an invisible state */
    transform: translateY(50px); /* Start from below */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Animate opacity and position */
}

.fade-in.visible {
    opacity: 1;  /* Fade in */
    transform: translateY(0);  /* Move to original position */
}

/* Initial state - text is invisible and slightly translated */
.fade-in-text {
    opacity: 0;
    transform: translateY(30px); /* Slightly move the text down initially */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Transition for opacity and position */
}

/* Final state when text becomes visible */
.fade-in-text.visible {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Move to the original position */
}
